[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/proxy/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/proxy/:splat"
  status = 200